[submodule "themes/themes/purer"]
	path = themes/themes/purer
	url = https://github.com/fengkx/hexo-theme-purer.git
[submodule "themes/purer"]
	path = themes/purer
	url = https://github.com/fengkx/hexo-theme-purer.git
